body {
    background-color: rgb(107, 107, 220);
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}
/* unvisited link */
a:link {
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
}

.grid-container {
    background-color: rgb(57, 57, 222);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    text-align: center;
    color: white;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    -webkit-text-stroke: 3px black;
}

h2 {
    font-size: 2rem;
    color: black;
    -webkit-text-stroke: 1px white;
    letter-spacing: 1px;
    word-spacing: -0.5rem;
}

#heading {
    background-image: url("./assets/images/header-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
    display: grid;
    justify-content: center;
    text-align: center;
    height: 600px;
    grid-column-start: 1;
    grid-column-end: -1;
}

#projects {
    grid-column-start: 1;
    grid-column-end: -1;
}

#about {
    grid-column-start: 1;
    grid-column-end: -1;
}

#contact {
    grid-column-start: 1;
    grid-column-end: -1;
}

.icon-image {
    height: 200px;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: black;
}